# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/

# IDE & OS files
.vscode/
.idea/
Thumbs.db
Desktop.ini
.DS_Store

# NeuroLens ephemeral data / local weights
*.wav
*.mp3
*.db
*.sqlite3
models/weights/
cache/
logs/
